<section>
  <h1>About Michael</h1>
  <p>
    I'm currently a Software Development Intern at
    <a href="https://www.khanacademy.org/careers/interns">Khan Academy</a>.
    I've also worked for
    <a href="http://www.google.com/students">Google</a>,
    <a href="http://www.xtremelabs.com/careers/">Xtreme Labs</a>,
    <a href="https://www.facebook.com/careers/university">Facebook</a>, and
    <a href="http://www.sharpschool.com/">SharpSchool</a>.
  </p>
  <p>
    I just finished third year at the
    <a href="http://uwaterloo.ca/">University of Waterloo</a>.
    I'm studying
    <a href="http://softeng.uwaterloo.ca/">Software Engineering</a>
    there, and can be often found at
    <a href="http://velocity.uwaterloo.ca/">VeloCity</a> Residence
    on my school terms -- it's a great place to meet awesome people, build
    things, and experiment.
  </p>
  <p>
    I have a passion for good food and board games. My favourites
    foods include steak, mashed potatoes, watermelon, bing cherries,
    and nectarines. My favourite board games include Space Alert, Settlers of
    Catan, Dominion, and Monopoly Deal.
  </p>
</section>
