<section>
  <h1>About Michael</h1>
  <p>
    I'm currently on an internship at
    <a href="http://www.google.com/students">Google</a>.
  </p>
  <p>
    I'm half-way through third year at the
    <a href="http://uwaterloo.ca/">University of Waterloo</a>.
    I'm studying
    <a href="http://softeng.uwaterloo.ca/">Software Engineering</a>
    there, and can be often found at
    <a href="http://velocity.uwaterloo.ca/">VeloCity</a>
    on my school terms -- it's a great place to meet awesome people, build
    things, and experiment.
  </p>
  <p>
    I have a passion for good food and board games. My favourites
    foods include steak, mashed potatoes, watermelon, bing cherries,
    and nectarines. My favourite board games include Settlers of Catan,
    Scrabble, and Monopoly Deal.
  </p>
</section>
