---
layout: resume
title: "Michael Chang"
comments: false
sharing: false
footer: false
---

div#resume
  h1 Michael Chang
  /! FIXME: Need to make this section adaptive on mobile.
  table
    tr
      td.left
        a href="mailto:m9chang@uwaterloo.ca" m9chang@uwaterloo.ca
      td.center
        a href="http://azuresky.ca/" http://azuresky.ca/
      td.right
        a href="tel:+1-647-705-5944" +1-647-705-5944
  markdown:
    Past Internships
    ----------------
    ### Agile Engineer, Xtreme Labs ###
    #### Toronto, ON (September 2011 - December 2011) ####
    * Co-developed Android Tablet application for a large motion picture exhibitor
    * Developed in Rails 3 and CoffeeScript on an internal research project

    ### Analytics (Mobile Growth), Facebook ###
    #### Palo Alto, CA (January 2011 - April 2011) ####
    * Built internal dashboards using internal tools for product managers within Facebook
    * Queried Hive/Hadoop cluster to produce ad-hoc reports on request

    ### Web Developer/Data Analyst, SharpSchool ###
    #### Toronto, ON (May 2010 - August 2010) ####
    * Developed in C# and Silverlight using Visual Studio 2010 and Team Foundation Server
    * Assisted with UX testing on mobile (iOS) development project
    * Provided technical consultation on codec and hardware selection for a video streaming project

    ### Web Developer/Data Analyst, Intrafinity Inc. ###
    #### Toronto, ON (Summer 2008, 2009) ####
    * Developed internal reports using Microsoft SQL Server Reporting Services and Visual Studio 2008
    * Co-built LDAP backend in C#, ASP.NET using Visual Studio 2005

    Extra-curriculars
    -----------------

    ### Open Source Software ###
    * Contributed patches to Novacut, a real-time collaborative video editor
    * Contributed Markup Inheritance Screencast to the Apache Wicket project during the Google Highly Open Participation Contest in 2007-2008

    ### Robotics Competitions ###
    * Team advanced to the FIRST Tech Challenge World Championships in Atlanta, GA in 2009
    * Partcipated in FIRST Tech Challenge, VEX, Robocup regional tournaments
    * Volunteered at the FIRST Lego League Waterloo Regional (2010, 2011)

    ### Programming Contests ###
    * Bronze medal at Stage 2 of the Canadian Computing Competition (2009 - Top 20 in Canada)
    * Participated in USACO, DWITE, CCC, Google Highly Open Participation Contest

    Technical Knowledge
    -------------------
    ### Languages &amp; Frameworks ###
    * Python, Java, C/C++, Ruby on Rails, Android SDK, CoffeeScript

    ### Environments ###
    * Ubuntu Linux, Mac OS X, Elastic Compute Cloud (EC2), Heroku


    Education
    ---------
    ### Candidate for Bachelor of Software Engineering, University of Waterloo (2009 - 2014) ###

